@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(8.46% 0.011 285.89);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(8.46% 0.011 285.89);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(8.46% 0.011 285.89);
  --color-primary: oklch(12.99% 0.017 285.89);
  --color-primary-foreground: oklch(98.13% 0 0);
  --color-secondary: oklch(96.77% 0.003 286.38);
  --color-secondary-foreground: oklch(12.99% 0.017 285.89);
  --color-muted: oklch(96.77% 0.003 286.38);
  --color-muted-foreground: oklch(48.44% 0.01 285.82);
  --color-accent: oklch(96.77% 0.003 286.38);
  --color-accent-foreground: oklch(12.99% 0.017 285.89);
  --color-destructive: oklch(60.42% 0.177 26.8);
  --color-destructive-foreground: oklch(98.13% 0 0);
  --color-border: oklch(92.22% 0.005 286.32);
  --color-input: oklch(92.22% 0.005 286.32);
  --color-ring: oklch(8.46% 0.011 285.89);
  --radius-sm: calc(0.5rem - 4px);
  --radius-md: calc(0.5rem - 2px);
  --radius-lg: 0.5rem;
}

.dark {
  --color-background: oklch(8.46% 0.011 285.89);
  --color-foreground: oklch(98.13% 0 0);
  --color-card: oklch(8.46% 0.011 285.89);
  --color-card-foreground: oklch(98.13% 0 0);
  --color-popover: oklch(8.46% 0.011 285.89);
  --color-popover-foreground: oklch(98.13% 0 0);
  --color-primary: oklch(98.13% 0 0);
  --color-primary-foreground: oklch(12.99% 0.017 285.89);
  --color-secondary: oklch(18.21% 0.018 285.94);
  --color-secondary-foreground: oklch(98.13% 0 0);
  --color-muted: oklch(18.21% 0.018 285.94);
  --color-muted-foreground: oklch(66.12% 0.012 285.79);
  --color-accent: oklch(18.21% 0.018 285.94);
  --color-accent-foreground: oklch(98.13% 0 0);
  --color-destructive: oklch(34.31% 0.133 26.36);
  --color-destructive-foreground: oklch(98.13% 0 0);
  --color-border: oklch(18.21% 0.018 285.94);
  --color-input: oklch(18.21% 0.018 285.94);
  --color-ring: oklch(83.91% 0.01 285.75);
}

* {
  border-color: var(--color-border);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
